*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: url(backlog1.jpg) no-repeat;
}
.content {
    position: relative;
    max-height: 740px;
    max-width: 700px;
    width: 100%;
    background: #ffffff9c;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba( 0, 0, 0, 0.1);   
}
.content header {
    padding-top: 25px;
    width: 40.7rem;
    height: 5rem;
    font-size: 20px;
    color: #fffdfd;
    font-weight: 500;
    text-align: center;
    background: url('back5.jpg')no-repeat;
    margin-bottom: 20px;
}
.forget-main .input-box {
    width: 100%;
    margin-top: 20px;
}
.input-box label {
    color: #333;  
}
.input-box input{
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #000000;
    margin-top: 8px;
    border: 1px solid #3a34348e;
    border-radius: 6px;
    padding: 0 15px;
}
.forget-main button {
    height: 55px;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    border: none;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 6px;
    font-weight: 400;
    transition: all 0.2s ease;
    background-color: rgba(42, 218, 116, 0.837);
}
.forget-main button:hover {
    background-color: rgba(23, 191, 96, 0.837);
}